includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
        - tests/Fixtures
    configDirectories:
        - %currentWorkingDirectory%/config
